# .env (pour le développement) - copier en .env et remplir les vraies valeurs
VITE_SITE_URL=http://localhost:8080


# Utilisé par les scripts serveur (src/scripts/*.ts)
APPWRITE_ENDPOINT=https://appwrite.dat-articles.com/v1
APPWRITE_PROJECT_ID=job2mada
APPWRITE_API_KEY=standard_70c711b6f1254964dc35896f79f99b0d4918b40bb3105e804d0a53a2a39a79f47f86ac50cc40e53bc8ff25f8733adaa99dea3d8d5b44ddc08c3550f40d6f694079e119a9ebe225d7181121e63c7301f4b2b47ee9363fcb9845c46f87f4f03a6e7374e8534f84ce6978eb2c3b84d266dad602cf85165881f06f9b7d47f1bce34c

VITE_GOOGLE_CLIENT_ID=1052079935427-8pha95480hipl7e2tu7mg9bj24lmgql2.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_SECRET=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

STRIPE_SECRET_KEY=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
VITE_STRIPE_PUBLISHABLE_KEY=pk_live_51TlZ5CFMk8kmSBeW3aTGkuM6w2yHhZJRCf44dv3ydeFeKAwew9h6ErYXJdMAJQrHegwTnyeQwdQZSuUVcb1ZulsD00QhFsz9vd
STRIPE_WEBHOOK_SECRET=whsec_TEBApa2KwyZnTGUJr8kXQrISIGX79tCG
VITE_API_URL=http://localhost:3001

VITE_EMAILJS_SERVICE_ID=service_9hdc2i8
VITE_EMAILJS_TEMPLATE_ID=template_x9e0kyw
VITE_EMAILJS_PUBLIC_KEY=9R0thSso9vNODdHTI

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-north-1
VERIFIED_DOMAIN=job2mada.com
FRONTEND_URL=https://job2mada.com

# Telegram Bot Configuration
VITE_TELEGRAM_BOT_TOKEN=8924248286:AAF9VyxpMYlyShZKkvRYuy6lyseh1mAGuLg
VITE_TELEGRAM_CHAT_ID=-5419418037
VITE_APPWRITE_ENDPOINT=https://appwrite.dat-articles.com/v1
VITE_APPWRITE_PROJECT_ID=job2mada
VITE_APPWRITE_DATABASE_ID=job2mada-db
VITE_API_URL=https://server-stripe-job2mada.vercel.app
VITE_STRIPE_PUBLISHABLE_KEY=pk_live_51TlZ5CFMk8kmSBeW3aTGkuM6w2yHhZJRCf44dv3ydeFeKAwew9h6ErYXJdMAJQrHegwTnyeQwdQZSuUVcb1ZulsD00QhFsz9vd
VITE_TELEGRAM_PAYMENT_CHAT_ID=-5419418037
VITE_SITE_URL=https://job2mada-dev.vercel.app/