STRIPE_SECRET_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
PORT=3001

VITE_EMAIL_API_URL=http://localhost:3002/api/send-message-notification
# Prod
# VITE_EMAIL_API_URL=https://api.job2mada.com/api/send-message-notification

# APPWRITE
APPWRITE_ENDPOINT=https://appwrite.dat-articles.com/v1
APPWRITE_PROJECT_ID=job2mada
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=job2mada-db

# COLLECTIONS
APPWRITE_PROFILES_COLLECTION_ID=profiles
APPWRITE_SUBSCRIPTIONS_COLLECTION_ID=subscriptions
APPWRITE_QUOTAS_COLLECTION_ID=subscription_quotas
